/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
#container {
	padding: 1em;
	margin: 0 auto; 
	max-width: 100%;
	}
    
article.blogpost {
    max-width:60em;
    margin: 0 auto;
}

header.blogpost {
    padding:0em;
}

aside.blogpost {
    width:10em;
    max-width:10em;
    display:table-cell;
}

header.page-header{
    display:block;
}



/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 30em) and (max-width: 63.236em) {
aside.blogpost{width:5em;display:table-cell;}
#container { width: 30em; }
    
}