<html>
    <head>
        {% block head %}
            <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
            {% if FEED_ALL_ATOM %}
                <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
            {% endif %}
            {% if FEED_ALL_RSS %}
                <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
            {% endif %}
            {% if FEED_ATOM %}
                <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
            {% endif %}
            {% if FEED_RSS %}
                <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
            {% endif %}
            {% if CATEGORY_FEED_ATOM and category %}
                <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
            {% endif %}
            {% if CATEGORY_FEED_RSS and category %}
                <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
            {% endif %}
            {% if TAG_FEED_ATOM and tag %}
                <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
            {% endif %}
            {% if TAG_FEED_RSS and tag %}
                <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
            {% endif %}
        {% endblock head %}
        <meta charset="utf-8" />
        {% if page_name ==  'categories' %}
        <meta name="description" content="Categories of blog posts" >
         {% elif page_name ==  'tags' %}
        <meta name="description" content="A list of all the tags used in this website">     
        {% elif page_name ==  'tag' %}
        <meta name="description" content="Blog posts relating to tag {{ tag }}">    
        {% elif page_name ==  'author' %}
        <meta name="description" content="Blog posts written by {{ author }}"> 
        {% elif article %}
        <meta name="description" content="{{ article.summary.replace("<p>","").replace("</p>","").replace('"',"'") }}">
        {% elif page %}
        <meta name="description" content="{{ page.summary.replace("<p>","").replace("</p>","").replace('"',"'") }}">
        {% else %}
        <meta name="description" content="{{ SITEDESCRIPTION }}">
        {% endif %}
        <meta name="author" content="{{ AUTHOR }}">
        <!-- /ht Andy Clarke - http://front.ie/lkCwyf -->
        <meta http-equiv="cleartype" content="on">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          
        <link rel="shortcut icon" href="/link/to/favicon.ico">
        <link rel="apple-touch-icon" href="/link/to/apple-touch-icon.png">

        <!-- /ht Jeremy Keith - http://front.ie/mLXiaS -->
        {% assets filters="cssmin", output="css/style.min.css", "css/global.css", "css/bootstrap.min.css", "css/bootstrap-theme.min.css"%}
            <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/layout.css" media="all and (min-width: 33.236em)">
        <!-- 30em + (1.618em * 2) = 33.236em / Eliminates potential of horizontal scrolling in most cases -->

        <!--[if (lt IE 9) & (!IEMobile)]>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/layout.css" media="all">
        <![endif]-->
    </head>
    <body>
        <div id="container" class="cf">
        {% block header %}
            <header id="main-header" class="top page-header">
                <span class="pageTitleContainer">
                    <a href="{{ SITEURL }}/index.html"><h1 class="header-title">{% block headerTitle %}{{ SITENAME }}{% endblock %}</h1></a>
                </span>
                <nav class="navbar navbar-default navbar-static-top" itemscope itemtype="https://schema.org/SiteNavigationElement">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li {% if page_name == 'index' %}class="active"{% endif %}><a href="{{ SITEURL }}/index.html" itemprop="mainEntity">Home<span class="sr-only"></span></a></li>
                        {% for title, link in MENUITEMS %}
                            <li><a href="{{ link }}">{{ title }}</a></li>
                        {% endfor %}
                        {% if DISPLAY_CATEGORIES_ON_MENU %}
                            <li {%if page_name == 'categories' %}class="active"{%endif%}>
                                <a href="{{ SITEURL }}/categories.html" >Categories</a>
                            </li>
                        {% endif %}
                        {% if DISPLAY_PAGES_ON_MENU %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                    {% for p in PAGES %}
                                        <li {% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                                    {% endfor %}
                                    </ul>
                                </a>
                            </li>
                        {% endif %}                        
                        <li {%if page_name == 'tags' %}class="active"{%endif%}><a href="{{ SITEURL }}/tags.html">Tags</a></li>
                        {% if FEED_ALL_ATOM %}
                           <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed"><img src="/theme/images/atom.png"/></a></li>
                        {% endif %}
                        {% if FEED_ALL_RSS %}
                            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed"><img src="/theme/images/rss.png"/></a></li>
                        {% endif %}
                      </ul>
                      
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
            </header>
        {% endblock %}
        {% block content %}{% endblock %}
        <div>
         {% assets filters="closure_js", output="js/packed.js", "js/libs/modernizr-1.7.min.js", "js/libs/jquery-2.2.0.min.js", "js/libs/bootstrap.min.js" %}
            <script async src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
        {% endassets %}
        
    </body>
</html>