{% extends "base.html" %}

{% block index_metadata %}
    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Blog",
        "name":"{{SITENAME}}",
        "url":"{{SITEURL}}",
        "description":"{{SITEDESCRIPTION}}",

        "publisher":{
                    "@type":"Organization",
                    "name": "{{ SITENAME }}",
                    "url":"{{ SITEURL }}"
                    {% if LOGOURL %}                       
                        ,"logo":{
                            "@type":"ImageObject",
                            "url":"{{ LOGOURL }}"
                        },
                    {% endif %}
                }
        {% if articles and articles_page %}
            ,"blogPosts":[
            {% for article in articles_page.object_list %}
                {
                    "@type": "BlogPosting",
                    "headline": "{{ article.title }}",
                    "datePublished": "{{article.date|strftime('%m/%d/%Y')}}",
                    "dateModified":"{{ article.modified|strftime('%m/%d/%Y') }}",
                    "author":{
                        "@type":"Person",
                        "image":"{{ article.author_gravatar }}",
                        "url":"{{ SITEURL }}/{{ article.author.url }}",
                        "name":"{{article.author}}"
                    },
                    "publisher":{
                        "@type":"Organization",
                        "name": "{{ SITENAME }}",
                        "url":"{{ SITEURL }}",
                        "logo":{
                            "@type":"ImageObject",
                            "url":"{{ article.author_gravatar }}"
                        },
                        "image": {
                            "@type":"ImageObject",
                            "url":"{{ article.author_gravatar }}",
                            "width":"400",
                            "height":"100"
                        }
                    },
                    "articleSection": "{{ article.category }}",
                    {%if article.tags %}
                        "keywords": [
                        {%for tag in article.tags %}
                        {% if loop.last %}                        
                        "{{tag.name}}"
                        {% else %}
                        "{{tag.name}}",
                        {% endif %}
                            
                        {%endfor%}
                        ],
                    {%endif%}
                    {% if article.cover_image %}
                    "image": {
                            "@type":"ImageObject",
                            "url":"{{ article.cover_image }}"
                        },
                    {% else %}
                    "image": {
                            "@type":"ImageObject",
                            "url":"{{ article.author_gravatar }}"
                        },
                    {% endif %}
                    "mainEntityOfPage":"{{ SITEURL }}/{{ article.url }}"
                }
                {% if not loop.last %}  
                    ,
                {% endif %}
            {% endfor %}
            ]
        {% endif %}
    }</script>
    
   {% if TWITTER_USERNAME %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="{{ TWITTER_USERNAME }}">
        <meta name="twitter:title" content="{{ SITENAME }}">
        <meta name="twitter:description" content="{{ SITEDESCRIPTION }}">
        <meta name="twitter:image:src" content="{{ SITENAME }}/theme/images/logo.png">
        <meta name="twitter:creator" content="{{TWITTER_USERNAME}}">
    {% endif %}
    {% if FACEBOOK_ID %}
        <meta property="og:title" content="{{ SITENAME }}" />
        <meta property="og:type" content="blog" />
        <meta property="og:url" content="{{ SITEURL }}" />
        <meta property="og:description" content="{{ SITEDESCRIPTION }}" />
        <meta property="og:site_name" content="{{SITENAME}}" />
        <meta property="fb:admins" content="{{ FACEBOOK_ID }}" /> 
        <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />
        <meta property="og:image" content="{{ SITENAME }}/theme/images/logo.png" />

    {% endif %}
{%endblock%}
{% block content %}
    <div id="main" role="main" class="container">
    {% if articles %}
        {% for article in articles_page.object_list %}
            {# First item #}
            {% if loop.first and not articles_page.has_previous() %}
                {% set standalone=true %}
                {% include 'jumbotronArticleTemplate.html' %}
            {# other items #}
            {% else %}
                {% include 'sedateArticleTemplate.html' %}
            {% endif %}
            {% if loop.last %}
                </ol><!-- /#posts-list -->
                {% if loop.last and (articles_page.has_previous()
                or not articles_page.has_previous() and loop.length > 1) %}
                    {% include 'pagination.html' %}
                {% endif %}
                </section><!-- /#content -->
            {% endif %}
        {% endfor %}
    {% endif %}
    </div><!-- /container -->
{% endblock %}             
