<article class="blogpost">     

            <header class="blogpost jumbotron ">
                <a href="{{ SITEURL }}/{{ article.url }}"><h1>{{ article.title }}</h1></a>    
                <section>
                    {{article.summary}}
                </section>
            </header>

        <div class="row">
            <aside class="blogpost col-sm-4 col-lg-4 col-md-4" >                        
                <div>
                    <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}"><img/></a>
                    <a href="{{ SITEURL }}/{{ article.author.url }}" rel="author">
                        <span><strong>{{article.author}}</strong></span>
                    </a>                            
                </div>                       
                <time>{{article.date|strftime('%m/%d/%Y')}}</time> 
            </aside>
            <section class="blogpost col-xs-12 col-sm-8 col-md-8 col-lg-8">
                {{ article.content }}
            </section>
        </div>
        <footer class="blogpost row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                {% if article.tags %}
                    <span class='blogpost fullWidth'>
                        Tags: {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}" class="label label-info">{{ tag }}</a> {% endfor %}
                    </span>
                {% endif %}
                {% include 'socialFooterWidget.html' %}
            </div>
        </footer>
</article>