<article class="blogpost">
        <div class="row">
            <aside class="blogpost col-sm-2 col-md-2 col-lg-2">
                <div>
                    <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}"><imgsrc="{{ article.author_gravatar }}"/></a>
                    <a href="{{ SITEURL }}/{{ article.author.url }}" rel="author">
                        <span itemprop="name"><strong>{{article.author}}</strong></span>
                    </a>                              
                </div>                       
                <time>{{article.date|strftime('%m/%d/%Y')}}</time>                         
            </aside>
            <div class="blogpost col-sm-10- col-md-10 col-lg-10">
                <header class="blogpost"><a href="{{ SITEURL }}/{{ article.url }}"><h1>{{ article.title }}</h1></a><hr/></header>
                <section>                                
                    {{ article.content }}
                </section class>
            </div>
        </div>
        <div class="row">
            <footer class="blogpost col-md-12 col-lg-12 col-sm-12">
                {% if article.tags %}
                    <span class='blogpost fullWidth'>
                        Tags: {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}" class="label label-info">{{ tag }}</a> {% endfor %}
                    </span>
                {% endif %}
                {% include 'socialFooterWidget.html' %}
            </footer>
        </div>
</article>
