<span class="socialFooterBar">
    
    <a class="tumblr-share-button" data-color="blue" data-notes="right" data-posttype="link" data-tags="" data-title="{{article.title}}" data-content="{{ SITEURL }}/{{ article.url }}" data-show-via="<a href='{{SITEURL}}'>Gunnar Gissel's Blog</a>" href="https://embed.tumblr.com/share"></a>&nbsp
    <div class="fb-share-button" data-href="{{ SITEURL }}/{{ article.url }}" data-layout="button"></div>&nbsp
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ SITEURL }}/{{ article.url }}" data-text="Check out Gunnar's new blog post: {{article.title}}!" data-via="monknomo">Tweet</a>
    <div class="g-plus" data-action="share" data-href="{{ SITEURL }}/{{ article.url }}" ></div>
</span>