{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}
<div class="container">
    <section id="content" class="panel panel-info">
        <header class="panel-heading">
            <h1>Tags</h1>
        </header>
        <article class="panel-body">
            <ul class="list-group">
                {%- for tag, articles in tags|sort %}
                    <li class="list-group-item"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
                {% endfor %}
            </ul>
        </article>
    </section>
</div><!-- /container -->
{% endblock %}